<!DOCTYPE html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>添加员工信息</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

</head>

<body>
<div id="wrap">
    <div id="top_content">
        <div id="header">
            <div id="rightheader">
            </div>
            <div id="topheader">
                <h1 id="title">
                    <a href="#">社員管理システム</a>
                </h1>
            </div>
        </div>
        <div id="content">
            <p id="whereami">
            </p>
            <h1>
                打刻情報変更：
            </h1>

            <form th:action="@{/worker/clock}" method="post" enctype="multipart/form-data" th:object="${attendance}">
                <table class="form_table">
                    <tr>
                        <td>
                            社員番号：
                        </td>
                        <td>
                            <span th:text="${#httpSession.getAttribute('employee_id')}"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            社員名：
                        </td>
                        <td>
                            <span th:text="${#httpSession.getAttribute('employee_name')}"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            日付：
                        </td>
                        <td>
                            <input type="date" th:field="*{attendance_date}" />
                    </tr>
                    <tr>
                        <td>
                            区分：
                        </td>
                        <td>
                            <select th:field="*{status}">
                                <option value="" selected>------</option>
                                <option value="出勤">出勤</option>
                                <option value="欠勤">欠勤</option>
                                <option value="有給">有給</option>
                                <option value="代休">代休</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            出社：
                        </td>
                        <td>
                            <input type="time" class="inputgri" th:field="*{start_date}" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            退社：
                        </td>
                        <td>
                            <input type="text" class="inputgri" th:field="*{end_date}" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            作業時間：
                        </td>
                        <td>
                            <span class="totalTime"></span>
                        </td>
                    </tr>

                </table>
                <p>
                    <button type="submit" onclick="showSuccessMsg()" class="button">打刻する</button>
                    <input type="button" class="button" value="戻る" onclick="refresh()"/></p>
            </form>
        </div>

    </div>
    <div id="footer">
        <div id="footer_bg">
            CC@126.com
        </div>
    </div>
</div>
</body>
<script th:inline="javascript">
    function refresh(){
        var employee_id = /*[[${#httpSession.getAttribute('employee_id')}]]*/ '';
        location.href='/ems-thymeleaf/worker/attendance?employee_id='+employee_id;
    }
</script>
</html>
